body{
    background-color: #cccdcf;
}
.Card{
    display: inline-block;
    max-width: 250px;
    height: 350px;
  border-radius: 5px;
  overflow: hidden;
 margin: 30px 10px;
    list-style-type: none;
.cards{
    background-color: white;
 

}
  img {
    max-width: 100%;
  }
}